generic-service:
  nameOverride: hmpps-adjudications-insights-api
  productId: "DPS001"

  replicaCount: 4

  image:
    repository: ghcr.io/ministryofjustice/hmpps-adjudications-insights-api
    tag: app_version # override at deployment time
    port: 8080

  ingress:
    enabled: true
    host: app-hostname.local # override per environment
    tlsSecretName: hmpps-adjudications-insights-api-cert

  # Environment variables to load into the deployment
  env:
    JAVA_OPTS: "-Xmx1024m"
    SERVER_PORT: "8080"
    SPRING_PROFILES_ACTIVE: "logstash"
    APPLICATIONINSIGHTS_CONNECTION_STRING: "InstrumentationKey=$(APPINSIGHTS_INSTRUMENTATIONKEY)"
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.json

  # Pre-existing kubernetes secrets to load as environment variables in the deployment.
  # namespace_secrets:
  #   [name of kubernetes secret]:
  #     [name of environment variable as seen by app]: [key of kubernetes secret to load]

  namespace_secrets:
    hmpps-adjudications-insights-api:
      APPINSIGHTS_INSTRUMENTATIONKEY: "b44af8fc-1647-443d-8cea-55c5cfbd4518"
    analytical-platform-s3-bucket-output:
      DATA-INSIGHTS_BUCKET_NAME: "cloud-platform-403569db5b294899ffe32e696b1c4ab1"

  allowlist:
    groups:
      - internal

generic-prometheus-alerts:
  targetApplication: hmpps-adjudications-insights-api
